:root {
  --yellow: #ffd60c;
  --white: #fdf8f5;
  --black: #202020;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: auto;
  padding-left: 3vw;
  padding-right: 3vw;
}

h1 {
  text-align: center;
}

.main {
  margin: auto;
  text-align: center;
  font-size: 2em;
  padding: 70px 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 80%;
  align-self: center;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: var(--yellow);
}

a:hover {
  color: var(--white);
}

a:active {
  color: var(--white);
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.game {
  display: flex;
  width: 80%;
  align-self: center;
  margin-bottom: 20px;
}

.trailer {
  flex: 1;
  margin-right: 20px;
}

.trailer iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.description {
  flex: 2;
}

.platforms {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.platform-button {
  width: 4em;
  height: 4em;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  align-self: center;
}

.features {
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.features figure {
  display: inline-block;
  width: auto;
  margin: auto;
  padding: 25px;
  margin: 2px;
  position: relative;
}

.features figure img {
  width: 75px;
  height: 75px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1024px) {
  .game {
    flex-direction: column; /* Stack trailer and description vertically */
    align-items: center; /* Center content horizontally */
  }

  .trailer {
    flex: 1;
    margin-right: 0; /* No margin for small screens */
    margin-bottom: 20px;
  }

  .description {
    flex: 2;
    max-width: 100%;
    text-align: center;
  }
}
